body{
    background: rgb(22, 123, 238);
    margin: 0px;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black;
}

.btn{
    color: white;
    border-radius: 10px;
    box-shadow: 3px 4px;
    background: rgb(50, 50, 50);
    padding: 10px;
}

.btn:active{
    box-shadow: 0px 0px;
    transform: translate(4px, 3px);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

#logo{
    height: 80px;
    padding: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 300px;
}

li{
    list-style-type: none;
}

header{
    background: url(./Images/codigo.jpeg) fixed;
    background-size: cover;
    height: 500px;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
}

h1{
    background: rgba(41, 148, 59, 0.815);
    color: white;
    text-align: center;
    font-family:monospace;
    text-shadow: 4px 4px black;
}

#indexMain{
    display: flex;
    justify-content: space-evenly
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black solid 5px;
    width: 350px;
    height: 400px;
    align-items: center;
    padding-bottom: 30px;
    background-color: yellow;
    text-align: center;
}

p{
    font-size: 18px;
}

.img-card{
    width: 100%;
}

.btn-card{
    margin-bottom: 40px;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 80px 50px;
}

#mainHistoria{
    display: flex;
    flex-direction: column;
}

#play-pause{
    height: 50px;
}